{% extends "layout.html" %}
{% block title %}Friendwatch - Join Stream{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/video.css"/>
    <script src="https://kit.fontawesome.com/20713e1f1c.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <form action="/watch" method="POST">
        <div class="form-group">
            <label for="exampleInputPassword1">Raum-Code</label>
            <input type="text" class="form-control" name="codeIn" placeholder="Raum-Code">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
{% endblock %}